
<div modal="showModal" close="cancel()" ng-init="myFunction()">
    <div class="modal-content">
        <div class="modal-header" >
            <h3>Upload data box</h3>
        </div>
        <div class="modal-body">

            <div class="panel panel-info">
                <!--title-->
                <div class="panel-heading">
                    <p>Upload a CSV File</p></div>
                <!--body-->
                <div class="panel-body">
                    <input type="file" file-model="myFile" />
                </div>
            </div>
            <div>
                <p>{{ValidationMessage}} <i ng-if="ValidationMessage!=''" class="fa fa-spinner fa-pulse"></i> </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="uploadFile()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>


