
<div modal="showModal" close="cancel()">

    <div class="modal-content">

        <div class="modal-header">
            <h3>Upload data box</h3>
        </div>
        <div class="modal-body">
            <ul>
                <div class="panel panel-info">

                    <!--title-->
                    <div class="panel-heading">
                        <p> Enter queries or upload a file!</p>
                    </div>


                    <div class="panel-body">
                        <p>chromosomeNumber startPosition </p>
                        <textarea class="table-responsive" cols="55" rows="6" ng-model="inputText"></textarea>
                    </div>
                </div>





                <!--<a href class="btn btn-primary btn-xl"><span class="glyphicon glyphicon-upload"></span> Upload a file</a>-->

            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click=" sendData(inputText); ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>

</div>
