<!--tree specification-->

    <style type="text/css">
        .tree-responsive {
    width:100%;
    height: 0px;
    padding-bottom: 75%;
}

        .node {
        cursor: pointer;
        }
        .overlay{
        background-color:#fff;
        }
        .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
        }
        .node text {
        font-size:15px;
        font-family:sans-serif;
        }
        .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
        }
        .templink {
        fill: none;
        stroke: red;
        stroke-width: 3px;
        }
        .ghostCircle.show{
        display:block;
        }
        .ghostCircle, .activeDrag .ghostCircle{
        display: none;
        }
        .node {
		cursor: pointer;
		}

		.node circle {
		fill: #fff;
		stroke: steelblue;
		stroke-width: 3px;
		}

		.node text {
		font: 12px sans-serif;
		}

		.link {
		fill: none;
		stroke: #ccc;
		stroke-width: 2px;
		}
    </style>
